# Davv

WEBAPP_URL=https://respectively-maximum-bonobo.cloudpub.ru/

CLIENT_ID=team096
CLIENT_SECRET=nqnHwKTPR04tLyvwkwuXwb63ebNSRXAM

BASE_URL=open.bankingapi.ru

#Определенный пользователь (1-10)
CLIENT_ID_ID=1
