# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_BOT_USERNAME=multibank_bot

# API Configuration
API_URL=http://server:8000

# Web App Configuration
WEBAPP_URL=http://localhost:5173