# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_BOT_USERNAME=multibank_bot

# API Configuration
API_URL=http://localhost:3001/api

# Web App Configuration
WEBAPP_URL=https://your-domain.com

# Environment
NODE_ENV=development


#Davv

WEB_APP_URL=https://vindictively-meteoric-pilchard.cloudpub.ru
TELEGRAM_BOT_TOKEN=8437392496:AAHHXLi03hT6Y9_DRyjiQKVUCz6uSaWByq4

WEBAPP_URL=https://vindictively-meteoric-pilchard.cloudpub.ru